# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea/

*.csv
*.txt
*.ascii

environments/

saved_models/
visualization/figures
visualization/results

*.zip
results_for_paper/*.pdf
*.pdf
*.pth
#results_for_paper/

*.egg*
events.*

.vscode/

*.log
*.xlsx
*.tex
*.pdf

# for excluding the uncompressed dataset files.
*.tar.gz
*.DS_Store
*._*

wandb/

src/**/*.png
data_analysis/**/*.png